#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #ff7e26;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Trebuchet MS', sans-serif;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.maxLabel {
  color:#2D3538;
  font-size:75px;
}

h2 {
  font-family: 'Trebuchet MS', sans-serif;
  color: #2D3538;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 300px;
  height: 73vh;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.816);
  border-radius: 20px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 300px;
  height: 73vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.cardThumbnail {
  position: relative;
  width: 100%;
  height: 50vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardDetails {
  padding:10px;
  text-align:left;
  height: 20vh;
}

.searchDetails {
  padding:10px;
  text-align:left;
}

.swipe:last-of-type {

}

.card h2 {
  margin-top:10px;
  margin-bottom:5px;
}

.card h3 {
  font-family: 'Trebuchet MS', sans-serif;
  padding: 15px;
  color: #2D3538;
}

.searchInstructions {
  font-family: 'Trebuchet MS', sans-serif;
  font-size:24px;
  color: #2D3538;
  padding-top:40px;
  padding-left:20px;
  padding-right:20px;
}

.status {
  text-align: center;
}

.reviewCount {
  color: #3e4244;
  padding-left: 10px;
}

.categories {
  padding-top:8px;
  word-wrap:break-word;
  color: #3e4244;
  font-size:16px;
  font-style:italic;
}

.flex {

}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  padding-top:25px;
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}
.search-button {
  background-color: #2e7cd5;
}
.keep-button {
  background-color: #74C85D;
}
.discard-button {
  background-color: #D54C2E;
}

.buttons button:hover {
  transform: scale(1.05);
}

.restaurantName:hover {
  text-decoration:underline;
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}